---
name: Generate updated F1 database dump
on:
  workflow_call:
    inputs:
      f1-db-version:
        type: string
        required: false
        default: latest
        description: The F1 DB version to base the update on.
    outputs:
      artifact-id:
        value: ${{ jobs.main.steps.update-f1-db.outputs.artifact-id }}
      run-id:
        value: ${{ jobs.main.steps.update-f1-db.outputs.run-id }}

env:
  MYSQL_PWD: password

jobs:
  setup:
    name: Setup env variables and check if update is needed
    runs-on: ubuntu-latest

    outputs:
      race_id: ${{ steps.setup.outputs.race_id }}
      season: ${{ steps.setup.outputs.season }}
      round: ${{ steps.setup.outputs.round }}
      race_name: ${{ steps.setup.outputs.race_name }}
      should_update: ${{ steps.setup.outputs.should_update }}
      is_sprint: ${{ steps.setup.outputs.is_sprint }}

    services:
      database:
        image: ghcr.io/race-tech/f1-db:${{ inputs.f1-db-version }}
        env:
          MYSQL_DATABASE: f1db
          MYSQL_ROOT_PASSWORD: $MYSQL_PWD
        ports:
          - 13306:3306
        options: --health-cmd="mysqladmin ping -u root" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Wait for database to be healthy
        run: |
          echo "Waiting for database service to be healthy..."
          for i in {1..30}; do
            STATUS=$(docker inspect --format='{{json .State.Health.Status}}' database)
            echo "Status: $STATUS"
            if [ "$STATUS" = "\"healthy\"" ]; then
              echo "Database is healthy!"
              exit 0
            fi
            echo "Not ready yet..."
            sleep 2
          done
          echo "Database failed to become healthy in time"
          exit 1

      - name: Verify f1db DB exists
        run: |
          mysql --host 127.0.0.1 --port 13306 -uroot -e "SHOW DATABASES LIKE 'f1db'"

      - name: Setup env variables
        id: setup
        shell: bash
        run: |
          race_id=$(echo "SELECT r.raceId FROM races AS r WHERE r.date < '$(date +'%Y-%m-%d')' ORDER BY r.date DESC LIMIT 1" | mysql -h 127.0.0.1 -P 13306 --protocol=tcp -u root -D f1db | tail -1 | xargs)
          season=$(echo "SELECT r.year FROM races AS r WHERE r.date < '$(date +'%Y-%m-%d')' ORDER BY r.date DESC LIMIT 1" | mysql -h 127.0.0.1 -P 13306 --protocol=tcp -u root -D f1db | tail -1 | xargs)
          round=$(echo "SELECT r.round FROM races AS r WHERE r.date < '$(date +'%Y-%m-%d')' ORDER BY r.date DESC LIMIT 1" | mysql -h 127.0.0.1 -P 13306 --protocol=tcp -u root -D f1db | tail -1 | xargs)
          race_name=$(echo "SELECT r.name FROM races AS r WHERE r.date < '$(date +'%Y-%m-%d')' ORDER BY r.date DESC LIMIT 1" | mysql -h 127.0.0.1 -P 13306 --protocol=tcp -u root -D f1db | tail -1 | xargs)
          sprint_race_date=$(echo "SELECT r.sprint_date FROM races AS r WHERE r.date < '$(date +'%Y-%m-%d')' ORDER BY r.date DESC LIMIT 1" | mysql -h 127.0.0.1 -P 13306 --protocol=tcp -u root -D f1db | tail -1 | xargs)
          should_update=$([ $(echo "SELECT resultId FROM results WHERE raceId = $race_id" | mysql -h 127.0.0.1 -P 13306 --protocol=TCP -u root -D f1db | wc -l) -ge 1 ] && echo 'false' || echo 'true')
          is_sprint=$($([[ $sprint_race_date -eq "NULL" ]]) && echo 'false' || echo 'true')
          echo "round=$round" >> $GITHUB_OUTPUT
          echo "season=$season" >> $GITHUB_OUTPUT
          echo "race_id=$race_id" >> $GITHUB_OUTPUT
          echo "race_name=$race_name" >> $GITHUB_OUTPUT
          echo "should_update=$should_update" >> $GITHUB_OUTPUT
          echo "is_sprint=$is_sprint" >> $GITHUB_OUTPUT

  f1-data-downloader:
    needs: setup
    if: needs.setup.outputs.should_update == 'true'  

    uses: race-tech/f1-data-downloader/.github/workflows/download_and_parse.yml@main
    with:
      season: ${{ needs.setup.outputs.season }}
      grand_prix: ${{ needs.setup.outputs.race_name }}
      is_sprint: ${{ needs.setupt.outputs.is_sprint }}

  f1-sql-updater:
    needs: [setup, f1-data-downloader]
    uses: race-tech/f1-sql-updater/.github/workflows/run_sql_updater.yml@main
    with:
      round: ${{ needs.setup.outputs.round }}
      is-sprint: ${{ needs.setupt.outputs.is_sprint }}
      artifact-id: ${{ needs.f1-data-downloader.outputs.artifact-id }}
      run-id: ${{ needs.f1-data-downloader.outputs.run-id }}
      f1-db-version: ${{ inputs.f1-db-version }}
